@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,700,700italic,400italic);

body, html {
    margin: 0;
    padding: 0;
    font: 14px 'Calibri', 'Century Gothic';
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.38461538;
    color: #333;
    background: url(http://subtlepatterns.com/patterns/geometry2.png);
}
form {
margin: 0;
}
.wraper {
    width: 1024px;
    margin: 0 auto;
    min-height: 100%;
    position: relative;
}

header {
    width: 100%;
}

.line1, .line2 {
    background: #000000;
    height: 0.8em;
    width: 100%;
}

.line2 {
    background: #FF7BAC;
}

.header-con {
    width: 100%;
}

.logotype {
    float: left;
}

.bruin {
    text-align: center;
    margin: 2em;
    position: relative;
}

.contakts {
    text-align: center;
    float: right;
}
	.contakts h2{font-size: 1.5em;}
    .contakts h2, .contakts a {
        line-height: 1.2em;
        color: #29ABE2;
        padding: 0;
        margin: 0.2em;
    }

    .contakts a {
        text-decoration: none;
    }

.call-h {
    margin-top: 30px;
}

    .call-h a {
        background: #3966A3;
        padding: 0.5em;
        color: #fff;
        line-height: 0.8em;
        height: 0.8em;
        font-size: 0.9em;
        margin-top: 2em;
    }

.but {
    /* background: url(../img/but-bg.png); */
background-size: contain;
/* padding: 8px 20px !important; */
color: #4E4E4E !important;
font-weight: 400 !important;
/* border-radius: 15px !important; */
border-bottom: 3px solid #DC7171;
margin: 0.5em 0;
}

.title-header {
    width: 100%;
    text-align: center;
    letter-spacing: 0.5em;
    font-weight: 400;
}

.action-block {
    position: relative;
    margin: 30px 0 0 0;
    border: 8px solid #67ACF2;
    background: #fff;
}

.text-action, .text-cloud1, .text-cloud2, .text-cloud3 {
    position: absolute;
    font-size: 1.5em;
    line-height: 1.3em;
    text-align: center;
    height: 20em;
}

.text-action {
    top: 40px;
    left: 280px;
}

.text-cloud1 {
    top: 88px;
    right: 180px;
    font-weight: bold;
    font-size: 1.3em;
}

.text-cloud2 {
    top: 150px;
    right: 274px;
    font-weight: bold;
    font-size: 1.3em;
}

.text-cloud3 {
    top: 228px;
    font-size: 1.2em;
    right: 157px;
}
.products {
float: left;
width: 100%;
padding: 0;
margin: 0;}
.products ul {
    list-style-type: none;
}

.products li {
    float: left;
    width: 205px;
    margin: 1%;
    padding: 0;
    border: 2px solid #1197f4;
    position: relative;
    text-align: center;
    font-weight: bold;
}

.p-name {
    background: #d5e4f8;
	padding: 0.5em 0;
}
.p-img{
position:relative;
}
.img-new{
	position: absolute;
	left: 0;
	top:0;
	width: 50px;
}
.p-old-price{
position: absolute;
bottom: 0;
padding: 1em;
background: rgba(255, 255, 255, 0.63);
left: 0;
right: 0;
text-align: left;
color: #181818;
font-weight: 400;
}
.p-size, .p-price {
   text-align: left;
padding: 0.5em 0 0 1em;
}

    .p-price strong {
        color: #12a7f6;
    }

.descr {
    background: #d5e4f8;
}

.p-buy button {
    background: #0996ff;
    border: none;
    padding: 5px 7px;
    color: #fff;
    border-radius: 5px;
    margin: 15px;
    cursor: pointer;
}
/*reviews*/
.review {
    padding: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: 0 0 2px rgba(0,0,0,.1);
    transition: all 0.5s ease-in-out;
    margin: 0 0 8px;
    font-size: 0.96em;
    line-height: 1.4em;
}

    .review:hover {
        border-color: #A4BCE0;
        box-shadow: 0 0px 2px #29ABE2;
        background:#fff;
    }

    .review img {
        margin: 0 5px 5px 0;
    }

    .review h4 {
        margin: 0 0 8px 0;
    }

    .review p {
        margin: 0;
        text-align: left;
        cursor: default;
    }

    .review hr {
    }
/*end reviews*/

html, body {
height: 100%;
}
 
#wrapper-container {
min-height: 100%;
}
 
#content {
    overflow:auto;
    padding-bottom: 150px; /*padding-bottom такой же, как и высота футера */
} 
 
footer,#footer {
position: relative;
margin-top: -50px;
height: 50px;
line-height: 50px;
clear: both;
text-align: center;
}
 
/* фикc для Opera*/
body:before {
    content:"";
    height:100%;
    float:left;
    width:0;
    margin-top:-32767px;
}