html, body {background-color: #fff;width: 100%;height: 100%;margin: 0px;padding: 0px;
    font:14px 'Calibri','Century Gothic';
line-height: 1.38461538;color: #333;
background: #efefef;
font-family: 'Open Sans', sans-serif;
    color: #777;}
textarea {width: 95%;}
p, h3, ul, li {
padding: 0px;
margin: 0px;}
h2{font-weight: 600;}
h3 a{color: #258521;}
h3 a:hover{text-decoration:none;}
img{border:none;}
strong, b {font-weight: 600;}
input, textarea, keygen, select, button {font-family: 'Open Sans', sans-serif;}
td,tr,th,tbody,thead,body{font:14px/1.38461538 'Calibri','Century Gothic';font-family: 'Open Sans', sans-serif;}
input:not([type]), input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="url"], input[type="text"],textarea{
border: 1px solid #d9d9d9;
                                                                                                                                                   }

.links a, .link {text-decoration: none;color: #006fae;}
.links a:hover, .link:hover {color: #686868;}
.left_menu a{color:#fff!important;}

a {color: #f58220;font-weight:300;text-decoration:none;}

.box{box-shadow: 0 1px 3px rgba(0,0,0,.13);padding:1em;background:#fff;}

.list_ul{padding-left:2rem}

.navigation {margin: 8px;  display: block;}
.navigation a,.navigation span {margin: 0 4px;text-decoration: none;color: #000;border: 2px solid #ccc;padding: 2px;height: 20px;line-height: 20px;display: inline-block;min-width: 14px;}
.navigation a:hover{  background: #ccc;}
.navigation span{color: #FFF;background: #ccc;}
.item-next-img a{width:100%}
.menu{
text-align: left;
}
.menu li {  
  height: 30px;
  line-height: 30px;display: inline-block;
  position:relative;  margin: 0 3px;float:left;
}
.menu li a{
	height: 30px;
	line-height: 30px;
	display: block;float:left;
}
.menu li:hover{
}
.menu li > ul{
display:none;
}
.menu li:hover >ul{
	display:block;
}

.menu li >ul{
  position: absolute;
  left: 0;
  top: 30px;
  border: 1px solid #C73F29;
  width: 150px;
  background:#fff;  z-index: 20;
}
.menu li >ul>li{
  display:block;  margin: 0;
  width: 100%;
}
.menu ul img{  width: 20px;
  vertical-align: text-top;
  margin: 0;
  padding-right: 5px;}

.item-next-img{padding: 0 0 0 10px;}
.small-table {
table-layout: fixed;
  box-shadow: 1px 0px 4px #B0B0B0;
  background: white;
  border-collapse: collapse;
  text-align: left;
}
.small-table thead th{font-weight: normal;color: #6D6D6D;padding: 8px;background: #FFFFFF;border-bottom: 1px solid #EAC12E;}
.small-table td {
  color: #669;
  border-top: 1px solid #e8edff;
  padding: 10px 15px;
}
.small-table tr:hover td{
  background: #e8edff;
}
  
.align-center{text-align:center;}
/*Top-Content*/
.top-con{
height:50px;
widows:100%;
padding:0;
margin:0;
}
.boxs-exit {
font-size:0.8em;
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
}
.boxs-exit ul ,.boxs-exit li{list-style-type:none;}
.boxs-exit li{float: left;margin: 3px 5px;padding: 3px;
  height: 20px;box-shadow: 0 0px 2px #AEACAC;}
.boxs-exit li a{color:#5B5B5B;text-decoration:none;line-height: 20px;}
.box-ava:hover {box-shadow:0 0px 2px #17991F}
.box-exit{margin-left:8px;}
.box-exit:hover{box-shadow:0 0px 2px #D31616;}
.ava {
  display: block;
  background: url('images/no-ava.png') left center no-repeat;
  background-size: 20px;
  padding-left: 25px;
  margin: 0;
}
/*
    Left Menu
    */
#left_menu {
position:relative;
height: 100%;
margin: 0px;
padding: 0px;
width: 100%;
height:30px;
background-color:#fff;
text-align: center;
float: left;
z-index:10;
box-shadow:2px 0 3px #ccc;
}

    #left_menu ul {
        margin: 0;
		list-style: none;
    }

.li-title {
    font-size: 15px;
    color: #fff;
    background-color: #2D648B;
}
    .li-link a {
        text-decoration: none;
        color: #0094ff;
    }

    .li-link a:hover {
        text-decoration: underline;
        color: #ff006e;
    }
/*
    End Left Menu
    */
/*Content*/
#content {
	margin: 8px auto 0;
	max-width: 900px;
	padding: 0;
}

    #content p {
        margin: 5px;
    }
.edit-button{background: #f6f5f3;box-shadow:none;margin:0.4em;padding:0.2em;}

.edit-button .button ,#bt_full{display: inline-block;margin: 5px;border: none;background: #fff;padding: 5px 10px;color: #777;cursor:pointer;outline:none;}
.edit-button .button:hover,.edit-button button:focus,#bt_full:hover,#bt_full:focus{background:#ffdb4d;color:#000;}
.edit-button .button:active,#bt_full:active{box-shadow:0 0 3px #ffdb4d;background:#fff;}
.form {
    padding: 10px;
}
/*End Content*/

	.table {		
		  table-layout: fixed;
  width: 100%;
  border: 1px solid #ADADAD;
  color: #000;
  background: white;
  border-collapse: collapse;
  text-align: left;
   }
   
  .table  th {
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding:1% 2%;
}
.table td {
  color: #669;
  padding:1%;
  transition: .3s linear;
}
.table  tr:hover td{
  color: #6699ff;
}
.table tr:nth-child(2n) {
  background: #e8edff;
}
   /*
   .table thead {background: #CDDF7F;color: #000;}
   .table tbody tr:hover{background-color:#EAEAEA;}*/
   .table-left-text{text-align:left;padding:3px;}
   .col1 {width: 40px;}
   .col2 {width: 80px;}
   
   
/*Tab*/
ul.tabs {
margin: 0;
padding: 0;
float: left;
list-style: none;
height: 32px;
width: 100%;
}
ul.tabs li {float: left;margin: 0;padding: 0;height: 31px;line-height: 31px;box-shadow: 0 -1px 3px rgba(0,0,0,.13), inset 0 1px 13px rgba(0,0,0,.13);border-left: none;margin-bottom: -1px;overflow: hidden;position: relative;background:#fff;border-right: 1px solid #ccc;}
ul.tabs li a {text-decoration: none;color:#777;display: block;padding: 0 20px;outline: none;margin:0;}
ul.tabs li a:hover {background: #F2EF7C;}
html ul.tabs li.active, html ul.tabs li.active a:hover{background: #fff;border-bottom: 1px solid #fff;box-shadow: 0 -1px 3px rgba(0,0,0,.13);}
ul.tabs li.active a{color:#f58220;}
.tab_container{border-top: none;/*overflow: hidden;*/
clear: both;float: left; width: 100%;background: #fff;margin: 0 0 1em;text-overflow: ellipsis;-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.13);-moz-box-shadow: 0 1px 3px rgba(0,0,0,.13);box-shadow: 0 1px 3px rgba(0,0,0,.13);}
.tab_content {padding:1rem;}
/*.Tab*/
.small_media ul{  overflow: hidden;
  text-align: center;}
.small_media li {
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 15px;
  max-width: 200px;
  display: inline-block;
  /*overflow: hidden;
  overflow-x: auto;*/
  text-align: center;} 

/*Button*/
.save_bth {background:#519C4C;border: none;padding:5px 10px;color: #fff;cursor: pointer;border-radius: 5px;outline: none;}
.save_bth:hover, .save_bth:focus {background:#86D080;}
.save_bth:active {background:#519C4C;box-shadow: 0 0 5px #1D6D17;}

footer {color: #777;font-size: 12px;text-align: center;margin-top: 20px;}
@media screen and (max-width: 550px) {
	#content{padding:0;}
	#left_menu {
		position:relative;
		width:100%;
		margin:0;
		padding:0;
		height:auto;
	}
	.bloks-small li{
		width:98%!important;		
	}
}
.small_media li{position: relative;height:100px;}
.small_media li img{max-height: 100px;max-width:180px;}
.small_media li .hover_con{display: none}
.small_media li:hover .hover_con{display:block;}
.small_media li .con{background: #fff;border:1px solid #ccc;position: absolute;top: 0px;padding: 5px;left: 0px;right: 0px;min-height:100px;background-color: #fff;z-index: 1;}
.small_media li:hover .con{border-color:#ffdb4d;z-index: 2;}